<div id="navigation">
  <div id="logo">
    <img src="../../assets/ApoorvLogo.svg" height="40px">
  </div>
  <nav>
    <a href="#home"><fa-icon [icon]="homeIcon"></fa-icon></a>
    <a href="#about"><fa-icon [icon]="aboutIcon"></fa-icon></a>
    <a href="#skills"><fa-icon [icon]="skillsIcon"></fa-icon></a>
    <a href="#experience"><fa-icon [icon]="experienceIcon"></fa-icon></a>
    <a href="#projects"><fa-icon [icon]="workIcon"></fa-icon></a>
    <a href="#contact"><fa-icon [icon]="contactIcon"></fa-icon></a>
  </nav>
  <div id="developer_name">designed by @apoorvverma_</div>
</div>