#projects {
    padding: 40px 10px;
    background-color: #f9f9ff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    padding: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    &:hover {
        transform: translateY(-10px);
    }
}

.category {
    color: #FF4C60;
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

.description {
    margin-bottom: 15px;
    color: #5e5c7f;
}

ul {
    padding-left: 20px;
    color: #5e5c7f;

    li {
        margin-bottom: 5px;
    }
}