<div id="about">
  <h1 class="section-title">About Me</h1>
  <div id="about-content">
    <img src="../../../assets/profile_image_purple.png" id="my-image">
    <div class="self-introduction">
      <p>iOS Developer with close to 2 years of experience and a B.Tech. in Computer Science. A passionate learner, have
        conducted deep research on various iOS topics, contributed on instructional videos on Vision OS Development for
        the GeeksforGeeks YouTube channel.</p>
      <a href="../../../assets/Apoorv-Resume.pdf" download="ApoorvVermaResume.pdf" class="btn btn-danger">Download
        CV</a>
    </div>
  </div>
</div>