#experience {
    padding: 40px 10px;
    background-color: #fff;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        background-color: #FF4C60;
        top: 0;
        bottom: 0;
        left: 20px;
        margin-left: -1px;
    }
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 50px;
}

.timeline-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #FF4C60;
    text-align: center;
    line-height: 38px;
    color: #FF4C60;
    z-index: 10;
}

.timeline-content {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    position: relative;

    .date {
        color: #8B88B1;
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }

    .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .company {
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
        color: #FF4C60;
    }

    ul {
        padding-left: 20px;

        li {
            margin-bottom: 5px;
        }
    }
}