<div id="contact" class="container">
    <h1 class="section-title">Get In Touch</h1>
    <div class="contact-content">
        <div class="contact-info">
            <h3>Let's talk about everything!</h3>
            <p>Don't like forms? Send me an email. 👋</p>
            <div class="info-item">
                <span class="icon"><fa-icon [icon]="emailIcon"></fa-icon></span>
                <span>vermasunny224@gmail.com</span>
            </div>
            <div class="info-item">
                <span class="icon"><fa-icon [icon]="mapIcon"></fa-icon></span>
                <span>Ghaziabad, India</span>
            </div>
            <div class="info-item">
                <span class="icon"><fa-icon [icon]="phoneIcon"></fa-icon></span>
                <span>+91 7217497919</span>
            </div>
        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/apoorvverma_">
                <fa-icon [icon]="instagramIcon"></fa-icon>
            </a>
            <a href="https://github.com/Sunnyverma81201">
                <fa-icon [icon]="githubIcon"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/apoorv-verma-397782195">
                <fa-icon [icon]="linkedInIcon"></fa-icon>
            </a>
            <a href="https://www.twitter.com/ApoorvV72752070">
                <fa-icon [icon]="twitterIcon"></fa-icon>
            </a>
        </div>
    </div>
</div>