#contact {
    padding: 40px 10px;
    background-color: #fff;
    padding-bottom: 80px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.contact-info {
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
        color: #5e5c7f;
    }
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #454360;

    .icon {
        font-size: 24px;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    margin-top: 20px;
}

.social-links>a {
    text-decoration: none;
    color: #353353;
    transition: color 0.3s ease;

    &:hover {
        color: #FF4C60;
    }
}